
body{
    background-color: #2d2d2d;
}
.container{
    width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 5px solid #deb12c;
}
.row{
    display: flex;
    flex: 1;
}
.column{
    background-color: white;
    border: solid 0.25px rgb(209, 209, 209);
    flex: 1;
    min-height: 5px;
    min-width: 5px;
}
button{
    background-color: #3a434b;
    color: #bac5cf;
    padding: 10px;
    margin: 2rem 0px;
    border: 1px solid #96a3ad;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}

.selected{
    background-color: green;
}